.landing {
  display: flex;
  height: 100vh;
}

.landing-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-right {
  flex: 1;
}

.landing-left-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}

.l-intro {
  font-size: 30px;
  font-weight: 300;
}

.l-name {
  font-size: 60px;
  line-height: 1;
  margin: 20px 0;
}

.l-title {
  margin-top: 20px;
  height: 50px;
  overflow: hidden;
}

.l-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}

.l-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

.l-desc {
  margin-top: 20px;
}

@keyframes move {
  33% {
    transform: translateY(-50px);
  }
  66% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-150px);
  }
}
/* testing */
.l-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
