.homeBody {
  margin-top: 70px;
}

.container2 {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* background-color: aqua; */
  padding: 0 30px;
  max-width: 900px;
  margin: 0 auto;
  gap: 40px;
}
.image {
  position: relative;
  max-width: 400px;
}
.homeBody__left img {
  width: 100%;
  /* height: 50%; */
  border-radius: 2%;
  background-color: rebeccapurple;
}

.homeBody__right {
  max-width: 400px;
  color: white;
  padding: 20px;
  /* background-color: red; */
}

.image:before {
  position: absolute;
  content: "";
  right: -20px;
  top: 20px;
  border: 10px solid rgba(255, 255, 255, 0.6);
  width: 97%;
  height: 95%;
}
